<nav class="knowledge-menu centering knowledge-menu-mobile">
    <ul>
        <li><a href="xke.html">XKE</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="events.html">TechEvent et Meetup</a></li>
        <li><a href="conferences.html">Conférences</a></li>
        <li><a href="sponsoring.html">Sponsoring</a></li>
        <li><a href="livres.html">Livres Blancs</a></li>
        <li><a href="presse.html">Presse</a></li>
        <li><a href="xebiatv.html">Xebia TV</a></li>
        <li><a href="newsletter.html">Newsletter</a></li>
    </ul>
</nav>
