.knowledge {

  .left-list, .right-list {
    .greenTickedList();

    li {
      line-height:30px;
    }
  }

  h1.photo-description {
    line-height: 40px;
    bottom: -70px;
  }
}

.techtrends {
  position: relative;
  @minHeight: 300px;
  .head-techtrend {
    background-color: @contrastColor;
    min-height: @minHeight;
    h2, p {
      color: white;
    }

    .inner-head {
      width: 50%;
    }

  }

  .go-to-techtrend {
    @dimension: 30px;
    width: @dimension;
    height: @dimension;
    line-height: @dimension;
    border-radius: 5px;

    .linkColored(@xebiaColor);
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;

    &.selected {
      .linkColored(white);
      background-color: @xebiaColor;
      cursor: default;
    }
  }

  .current-techtrend {
    .packshot-wrapper {
      position: absolute;
      @heightImg: 270px;
      img {
        height: @heightImg;
      }
      top: @minHeight - @heightImg + 80px;
      left: 60%;
    }

    h3 {
      text-transform: uppercase;
    }

    h2 {
      margin-top: 30px;
    }
  }

  .techtrend-button {
    cursor: pointer;
    text-transform: uppercase;
    max-width: 150px;
    vertical-align: top;

    line-height: 20px;

    border-radius: 5px;
    font-size: @standardTextSize;
    .linkColored(white);
    &:visited {
      .linkColored(white);
    }

    background-color: @xebiaColor;
    &:hover {
      background-color: lighten(@xebiaColor, 10%);
    }
    .transition(background-color 0.3s);

    display: inline-block;
    text-align: center;

    margin-top: 20px;
    margin-right: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 40px;
    position: relative;
    font-weight: 300;

    &:before {
      position: absolute;
      left: 10px;
      top: 15px;

      //font-awesome
      content: "\f01a";
      font-size: 30px;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;

      -webkit-font-smoothing: antialiased;
    }

  }

  .summary-background-wrapper {
    background-color: @alternativeBackgroundColor;
    padding-top: 20px;
    padding-bottom: 20px;

    .summary, .description {
      display: inline-block;
      width: 45%;
      vertical-align: top;
    }

    h3 {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    ul {
      margin-bottom: 40px;
    }

    li {
      margin-bottom: 15px;
    }
  }

  @media (max-width: @secondBreakPoint) {
    .head-techtrend {
      .inner-head {
        width: auto;
      }
    }

    .packshot-wrapper {
      display: none;
    }

    .summary-background-wrapper {
      .summary, .description {
        display: block;
        width: auto;
      }
    }
  }
}



