// Blackboard
@blackboard-width: 1114px;
@blackboard-height: 627px;

// Slider arrows
@arrow-width: 39px;
@arrow-height: 39px;
@arrow-margin-side: 10px;

// Slider pager
@pager-width: 103px;
@pager-height: 20px;


#passions > .content {

	z-index: 100;

	#slides-wrapper {
		width: @blackboard-width;
		height: @blackboard-height;
	}

	.blackboard {
		background-image: url(/assets/img/passions/tableau.jpg);
	}

	/* Parallax */
	.parallax-viewport {
		position: relative;
		overflow: hidden;
		width: @blackboard-width;
		height: @blackboard-height;
	}
	.parallax-layer {
		position: absolute;
	}

	/* Pagination */
	.pagination {
		margin: 10px auto 0;
		background-image: url(/assets/img/interface/indicateur_nbr_pages.png);
		background-repeat: no-repeat;
		background-position: 28px 0;
		width: @pager-width;
		height: @pager-height;
	}
	.pagination li {
		float: left;
		margin: 5px 3.5px 0;
		list-style: none;
	}
	.pagination li:first-child {
		margin-left: 0;
	}
	.pagination li:last-child {
		margin-right: 0;
	}
	.pagination li a {
		display: block;
		width: 10px;
		height: 0;
		padding-top: 10px;
		float: left;
		overflow: hidden;
	}
	.pagination li.current a, .pagination li:hover a {
		background-image: url(/assets/img/interface/indicateur_page_actuelle.png);
	}
	.prev {
		position: absolute;
		margin-top: (@blackboard-height - @arrow-height)/2;
		margin-left: -(@arrow-margin-side + @arrow-width);
		opacity: 0.7;
	}
	.next {
		position: absolute;
		margin-top: (@blackboard-height - @arrow-height)/2;
		margin-left: @blackboard-width + @arrow-margin-side;
		opacity: 0.7;
	}
	.prev:hover, .next:hover {
		opacity: 1;
	}

}