// Passport
@passport-width: 860px;
@passport-height: 618px;

// Slider arrows
@arrow-width: 39px;
@arrow-height: 39px;
@arrow-margin-side: 10px;

// Slider pager
@pager-width: 103px;
@pager-height: 20px;

#passport > .content {

    z-index: 100;

    #passport-wrapper {
        width: @passport-width;
        height: @passport-height;
    }

    #passport-container {
        width: 860px;
        height: 618px;
        float: left;
        position: relative;
        display: block;
    }

    .p1 {
        background-image: url(/assets/img/who_we_are/passport_couv.png);
        background-repeat: no-repeat;
        color: #F9F7E3;
        font-family: "PTSansBold";
        text-shadow: -1px 0px #000;
        line-height: 35px;
        font-size: 20px;
        font-weight: bold;
    }

    .p1 ul {
        margin-top: 460px;
        margin-left: 125px;
        list-style-image: url(/assets/img/who_we_are/passeport_couv_puce_titre.png);
    }

    .p1 li {
        cursor: pointer;
    }

    .p2 {
        background-image: url(/assets/img/who_we_are/passport_page_left.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        color: #43163a;
        font-family: "PTSansBold";
    }

    #who_we_are_mask {
        margin-left: 20px;
        opacity: 0.7;
        float: left;
    }

    #who_we_are_photo {
        margin-top: 20px;
        margin-left: 10px;
    }

    .who_we_are_title {
        font-family: "PTSansItalic";
        opacity: 0.7;
        line-height: 30px;
    }

    .p3 p {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .p3 .sep {
        margin-left: 50px;
    }

    .who_we_are_text {
        font-family: "PTSansItalic";
    }

    #passport_signature {
        margin-left: 200px;
        margin-top: 50px;
    }

    .p3 {
        background-image: url(/assets/img/who_we_are/passport_page_right.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        color: #43163a;
        font-family: "PTSansBold";
    }

    .p4 {
        background-image: url(/assets/img/who_we_are/passport_page_left.png);
        background-repeat: no-repeat;
    }

    .p4 img {
        margin-left: 10px;
    }

    .p5 {
        background-image: url(/assets/img/who_we_are/passport_page_right.png);
        background-repeat: no-repeat;
    }

    .p5 img {
        margin-left: 90px;
    }

    .p6 {
        background-image: url(/assets/img/who_we_are/passport_page_left.png);
        background-repeat: no-repeat;
        color: #43163a;
        font-family: "PTSansBold";
    }

    #what_we_do_left {
        margin-top: 30px;
        margin-left: 10px;
        float: left;
    }

    #what_we_do_left_text {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 40px;
    }

    .p6 ul {
        list-style-type:square;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .p6 li {
        font-style: italic;
        font-family: "PTSansItalic";
        font-size: 15px;
    }

    .p6 img {
        margin-left: 30px;
    }

    .p7 {
        background-image: url(/assets/img/who_we_are/passport_page_right.png);
        background-repeat: no-repeat;
        color: #43163a;
        font-family: "PTSansBold";
    }

    #what_we_do_right_text {
        float: left;
        margin-left: 10px;
        margin-right: 50px;
        margin-top: 10px;
    }

    #what_we_do_right {
        margin-top: -80px;
        margin-right: 10px;
        float: right;
    }

    .p7 ul {
        list-style-type:square;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .p7 li {
        font-style: italic;
        font-family: "PTSansItalic";
        font-size: 15px;
    }

    .p7 img {
        margin-left: 40px;
    }

    .p8 {
        background-image: url(/assets/img/who_we_are/passport_dos.png);
        background-repeat: no-repeat;
    }

    /* passport-pagination */
    .passport-pagination {
        position: relative;
        margin: 10px auto 0;
        background-image: url(/assets/img/passions/indicateur_nbr_pages.png);
        background-repeat: no-repeat;
        background-position: 28px 0;
        width: @pager-width;
        height: @pager-height;
    }
    .passport-pagination li {
        float: left;
        margin: 5px 3.5px 0;
        list-style: none;
    }
    .passport-pagination li:first-child {
        margin-left: 0;
    }
    .passport-pagination li:last-child {
        margin-right: 0;
    }
    .passport-pagination li a {
        display: block;
        width: 10px;
        height: 0;
        padding-top: 10px;
        float: left;
        overflow: hidden;
    }
    .passport-pagination li.current a, .passport-pagination li:hover a {
        background-image: url(/assets/img/passions/indicateur_page_actuelle.png);
    }
    .passport-prev {
        position: absolute;
        margin-top: (@passport-height - @arrow-height)/2;
        margin-left: -(@arrow-margin-side + @arrow-width);
        opacity: 0.7;
    }
    .passport-next {
        position: absolute;
        margin-top: (@passport-height - @arrow-height)/2;
        margin-left: @passport-width + @arrow-margin-side;
        opacity: 0.7;
    }
    .passport-prev:hover, .passport-next:hover {
        opacity: 1;
    }

}
