#sharing > .content{

	.sharingEl{
		position: absolute;
	}

	.shiva, .hand{
		.sharingEl();
		z-index: 1001;
	}
	.hand{
		border-radius: 100%;
		border: 1px solid black;
		width: 200px;
		height: 200px;
		background-image: url("/assets/img/sharing/cercle_lum_bt.png");
		background-position: center center;
		background-repeat: no-repeat;
	    text-align: center;
	    line-height:11.5em;
		img{
			//margin-top : 30px;
			//margin-left: 30px;
			cursor : pointer;
			vertical-align: middle;
			//display: none;
		}
	}
	.rays{
		.sharingEl();
		z-index: 1000;
		opacity: 0.3;
	}
	.spot{
		.sharingEl();
		z-index: 999;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
  		transition: opacity 0.5s linear;
	}
}