#sharing > .content{

	.boudha, .rays{
		position: absolute;
		z-index: 1001;
		.rays{
			z-index: 1000
		}
	}
	.spot{
		position: absolute;
		z-index: 999;
		//opacity: 0;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
  		transition: opacity 0.5s linear;
	}
}