// Tab to show/hide panel
@tab-width: 184px;
@tab-height: 72px;
@tab-difference: 8px;

@panel-width: 100%;
@panel-height: 100px;

@partners-width: 860px;
@logo-height: 30px;

#thanksPanel {

    position: fixed;
    bottom: -@panel-height;
    width: @panel-width;
    height: @panel-height;
    z-index: 1002;
    background-color: rgba(48, 5, 44, 0.8);

    #tab-link {
        display: block;
        background-image: url('/assets/img/thanks/thanks-to-bt.png');
        width: @tab-width;
        height: @tab-height;
        margin: -@tab-height+@tab-difference auto 0;
    }

    #partners {
        width: @partners-width;
        height: @logo-height;
        margin: ((@panel-height - @logo-height)/2-@tab-difference) auto (@panel-height - @logo-height)/2;

        .jqDockItem {
            float: left;
            list-style: none;
            padding: 0 10px;
            opacity: 0.5;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
        }
        .jqDockItem:hover {
            opacity: 1;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
        }
    }

}
