// Tab to show/hide panel
@cloud-width: 181px;
@cloud-height: 25px;
@button-width: 141px;
@button-height: 91px;
@button-difference: 25px;
@arrow-width: 27px;
@arrow-height: 25px;

// Transparent panel
@panel-width: 100%;
@panel-height: 100px;

// Partners list and logos
@partners-width: 860px;
@logo-height: 30px;

.transition-property(@property){
    transition-property: @property;
    -ms-transition-property: @property;
    -webkit-transition-property: @property;
    -o-transition-property: @property;
    -moz-transition-property: @property;
}

.transition-duration(@duration){
    transition-duration: @duration;
    -ms-transition-duration: @duration;
    -webkit-transition-duration: @duration;
    -o-transition-duration: @duration;
    -moz-transition-duration: @duration;
}

#thanksPanel {

    position: fixed;
    bottom: -@panel-height;
    width: @panel-width;
    height: @panel-height;
    z-index: 1002;
    background-color: rgba(54, 10, 45, 0.8);

    #tab-link {
        display: block;
        background-image: url('/assets/img/thanks/thanksto_bt_bg.png');
        width: @cloud-width;
        height: @cloud-height;
        margin: -@cloud-height auto 0;

        .button {
            background-image: url('/assets/img/thanks/thanksto_bt_off.png');
            width: @button-width;
            height: @button-height;
            position: absolute;
            top: -@button-height + @button-difference;
            margin-left: (@cloud-width - @button-width)/ 2;
        }

        .arrow {
            background-image: url('/assets/img/thanks/thanksto_triangle_haut.png');
            width: @arrow-width;
            height: @arrow-height;
            position: absolute;
            top: -@button-height + @button-difference - @arrow-height + 10px;
            margin-left: (@cloud-width - @arrow-width)/ 2;
            .transition-property(margin-top);
            .transition-duration(0.3s);

            &.down {
                background-image: url('/assets/img/thanks/thanksto_triangle_bas.png');
            }
        }

        &:hover {
            .button {
                background-image: url('/assets/img/thanks/thanksto_bt.png');
            }
            .arrow {
                margin-top: -10px;
            }
        }
    }

    #partners {
        width: @partners-width;
        height: @logo-height;
        margin: (@panel-height - @logo-height)/2 auto (@panel-height - @logo-height)/2;

        .jqDockItem {
            float: left;
            list-style: none;
            padding: 0 10px;
            opacity: 0.5;
            .transition-property(opacity);
            .transition-duration(1s);

            &:hover {
                opacity: 1;
                .transition-duration(0.3s);
            }
        }
    }

}
