
.centering {
  max-width: @firstBreakPoint;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @firstBreakPoint) {
    width: 97%;
  }
}

html, body {
  height: 100%;
}

strong {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:focus, a:hover
{
  text-decoration:none !important;
}

main {
  padding-top: 190px;
}

h1 {
  font-weight: 300;
  .veryBigFontSize();

  padding-bottom: 0;

  text-align: left;

  @media (max-width: @secondBreakPoint) {
    text-align: left;
  }
}

h1, h2 {
  color: @subTitle;

}

h2 {
  padding-top: 40px;
  font-size: @defaultTitleSize;
  padding-bottom: 40px;
}

p, li {
  color: @subMainTitle;
  font-weight: 300;
  font-size: @standardTextSize;
}

p {
  line-height: 30px;

  margin-bottom: 35px;
  @media (max-width: @firstBreakPoint) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

section {
  padding-bottom: 30px;
}

.col-wrapper {
  .clearFloat();
  text-align: center;
}

.col3 {
  text-align: center;
  width: 33%;
  display: inline-block;
  vertical-align: top;
  max-width: 280px;
  position: relative;

  margin-left: 2%;
  margin-right: 2%;

  .clearFloat();

  img {
    margin-top: 30px;
  }

  h3 {
    color: @contrastColor;
    font-weight: 500;
    font-size: @subSubTitleSize;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid @colorIndicator;

    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 55px;
  }

  p {
    margin-bottom: 30px;
    text-align: center;
  }

  a {
    color: @linkColor;

    font-weight: 300;

    &:hover {
      font-weight: 400;
    }
  }

  @media (max-width: @firstBreakPoint) {
    max-width: 230px;
  }


  @media (max-width: @secondBreakPoint) {

    width: auto;
    .centerBlock();
    max-width: none;
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    margin-bottom: 60px;

    h3 {
      border-bottom: none;
      color: @xebiaColor;
      min-height: 0;
      padding-bottom: 0;
      margin-bottom: 10px;
    }

    h3, p, a {
      margin-left: 10px;
    }

    h3, p {
      max-width: 50%;
      text-align: left;
    }

    img {
      margin-top: 0;
      position: absolute;
      right: 10px;
      top: 20px;
    }
  }

  @media (max-width: @thirdBreakPoint) {

    @imgSize: 130px;

    h3, p {
      margin-right: @imgSize + 40px;
    }

    img {
      width: @imgSize;
    }
  }
}

.person {
  .name {
    margin-top: 10px;
    display: block;
    color: @contrastColor;
    font-size: @standardTextSize;
  }
  .role {
    margin-top: 5px;
    display: block;
    color: @xebiaBackgroundTextColor;
    font-weight: 300;
    font-size: @littleTextSize;
  }
}

.button-green {
  color: white;
  background-color: @contrastColor;
  font-weight: 300;
  padding: 10px 30px;
  cursor: pointer;
  .transition(background-color 0.5s);

  &:hover {
    background-color: lighten(@contrastColor, 5%);
  }

  .arrowNext(6px);
}

.button
{
  text-align:center;
}

.button_dl
{
  display:inline-block;
  text-align:center;
  margin-bottom:30px;
}


.button_dl a
{
  color:white;
  background-color: #06a99c;
  padding: 10px 25px;
  text-align:center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &:hover
  {
    background-color: #07c2b3;

  }

}



.do-you-want-to-know-more {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 2px solid @contrastColor;
  .linkColored(@contrastColor);

  &.violet {
    border-top: 2px solid @xebiaColor;
    .linkColored(@xebiaColor);
  }

  text-align: right;
  display: block;
  @rightPadding: 30px;
  padding-right: @rightPadding;

  position: relative;

  .arrowNext(8px);
  &:after {
    right: 15px;
  }
  width: ~"calc(100% - @{rightPadding})";
}

.main-photo-wrapper {
  position: relative;
  margin-bottom: 0px;
  img {
    width: 1024px;

    @media (max-width: @firstBreakPoint) {
      width: 100%;
    }
  }
  .photo-description {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.6);
    max-width: 100%;
    font-size: @defaultTitleSize;
    padding: 20px;
    bottom: 95px;
    line-height: 40px;

  }

  @media (max-width: @secondBreakPoint) {
    margin-bottom: 0;
    .photo-description {
      position: static;
      max-width: none;
    }
  }
}

section {
  h1 {
    text-align: left;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 300;
    text-align: center;
    text-transform: none;
    .bigFontSize();

    @media (max-width: @secondBreakPoint) {
      text-align: left;
    }
  }
}

.button_contact
{
  background:#06a99c;
  color:white;
  font-size:20px;
  padding:0.5em;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  outline-style:none;

  &:hover
  {
    color:white;
    background:#08dac9;
    text-decoration:none;
    cursor:pointer;
  }


}

.link{
  color:#06a99c !important;

  &:hover{
    font-weight:bold !important;
  }
}

.decouvrez{
  font-size:24px;
  text-align: center;
}


.center
{
  text-align:center;
  margin-top:50px;
}
