.clearFloat() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.centerBlock() {
  margin-left: auto;
  margin-right: auto;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.mail-icon(@color, @factor) {
  svg {

    height: 114px * @factor;
    width: 114px * @factor;

    path {
      stroke: @color;
      .transform(scale(@factor));
    }
  }
}

.linkDecoration(@color) {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: @color;
    content: '';
    .transition(top 0.3s);
  }
  &:hover:before {
    top: 100%;
    opacity: 1;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: @color;
    content: '';

    .transition(height 0.3s);

  }
  &:hover:after {
    height: 100%;
  }

  &:hover {
    font-weight: normal;
  }
}

.arrowNext(@top) {
  position: relative;
  &:after {
    content: '›';
    font-size: 160%;
    position: absolute;
    top: @top;
    margin-left: 12px;
  }
}

.linkColored(@color) {
  color: @color;
  .transition(color 0.3s);
  &:visited {
    color: @color;
  }
  &:hover {
    color: lighten(@color, 10%);
  }
  &:visited:hover {
    color: lighten(@color, 10%);
  }
}

.greenTickedList() {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-left: 30px;

  @media (max-width: @secondBreakPoint) {
    width: auto;
    display: block;
  }

  li {
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 10px;
    padding-left: 10px;
    list-style-image: url("../images/knowledge/check-icon.png");
    font-size: @bigTextSize;

    a {
      .linkColored(@linkColor);
      font-weight: 300;
    }

    @media (max-width: @secondBreakPoint) {
      margin-right: 0;
    }

  }
}

.fontAwesome(@content) {
  content:@content;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.xebia-link {
  color: @xebiaColor;
}
