section {
  h1 {
    text-align: left;
    margin-bottom: 30px;
  }
}

.section-header {

  .navbar {
    background-color: @contrastColor;
    text-align: center;
    height: 75px;
    line-height: 75px;
    a {
      color: white;
    }
  }

}