h1 {
  text-align: left;
  margin-bottom: 30px;
}

.xebia-infographie {

  .title-home
  {
    font-size:36px;
    line-height:40px;
  }


  .infographie-desktop
  {
    width:100%;

    @media (max-width: 690px) {
      display: none;
    }
  }


  .infographie-mobile
  {
    display:none;

    @media (max-width: 690px) {
      display: block;
      width: 100%;
      max-width: 314px;
      margin:auto;
    }
  }

}

.what-we-do {

  .discover-service {
    display: block;
    margin: 20px auto;
    background-color: @contrastColor;
    .transition(all 0.3s);

    max-width: 210px;
    padding: 10px 20px;

    position: relative;

    @media (max-width: @secondBreakPoint) {
      display: none;
    }

    h2 {
      color: white;
      text-align: center;
      padding: 0;

      font-size: @subSubTitleSize;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;

      width: 0;
      height: 0;
      @sizeTriangle: 10px;
      @sizeBaseTriangle: @sizeTriangle*2;
      left: ~"calc(50% - @{sizeBaseTriangle})";
      border-top: @sizeTriangle solid @contrastColor;
      border-left: @sizeBaseTriangle solid transparent;
      border-right: @sizeBaseTriangle solid transparent;
      bottom: 0 - @sizeTriangle;
      .transition(all 0.3s);
    }
    &:hover {
      background-color: lighten(@contrastColor, 5%);
      &:after {
        border-top-color: lighten(@contrastColor, 5%);
      }
    }
  }

  .doings a.title-wrapper:hover {
    h3 {
      color: lighten(@contrastColor, 10%);
    }
  }

  .doings a.more {
    .arrowNext(-3px);
  }

  @media (max-width: @thirdBreakPoint) {
    .doings .col3 {
      h3, p {
        margin-right: 0;
        max-width: none;
      }

      img {
        display: none;
      }
    }
  }

  .col3 {
    h3 {
      .transition(color 0.3s);
      min-height: 40px;

      @media (max-width: @secondBreakPoint) {
        padding-bottom: inherit;
      }
    }

    p {
      min-height: 110px;
      @media (max-width: @firstBreakPoint) {
        min-height: 150px;
      }
      @media (max-width: @secondBreakPoint) {
        min-height: inherit;
      }
    }
  }
}


.we-work-with
{
  background-color: #f0f0f0;
}


.sharing-our-knowledge {

  //@partSize: 45%;
  @partSize: 90%; //pour l'instant car il n'y a pas training

  margin-bottom: 30px;
  .knowledge-wrapper {

    .events-wrapper {
      font-size: @standardTextSize;
    }

    .clearFloat();

    h3 {
      text-align: center;
      font-size: @subSubTitleSize;

      @media (max-width: @secondBreakPoint) {
        text-align: left;
      }
    }

    .events {
      width: @partSize;
      //  float: left;
      margin-left: auto;
      margin-right: auto;

    }
    .training {
      min-width: @partSize;
      float: right;
    }

    @media (max-width: @secondBreakPoint) {
      .events, .training {
        float: none;
        display: block;
        min-width: 0;
        width: 100%;
      }
    }
  }

  .training, .events {
    min-height: 150px;
    position: relative;

    @media (max-width: @secondBreakPoint) {
      min-height: 0;
    }
  }
  .event {
    min-height: 150px;
    margin-top: 30px;
    .clearFloat();
    h3 {
      margin-bottom: 20px;
      text-align: left;
      font-weight: 300;
    }
    @dateSize: 110px;
    .date {
      text-align: center;
      display: inline-block;
      min-width: @dateSize;
      margin-right: 40px;
      float: left;
      vertical-align: top;
    }
    .month-year, .day {
      color: @xebiaColor;
      text-transform: uppercase;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .day {
      width: 94px;
      height: 91px;
      line-height: 91px;
      background: url(../../images/home/calendar-bg.png);
    }
    .description {
      display: block;
      vertical-align: top;
      padding-top: 30px;

      a {
        .linkColored(@xebiaColor);
      }
    }

  }

  .training-session {
    min-height: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    .clearFloat();

    h3, .name, time {
      display: block;
      font-weight: 300;
    }

    h3 {
      margin-bottom: 10px;
    }

    .name, time {
      margin-top: 10px;
    }

    .name {
      font-size: @bigTextSize;
      margin-bottom: 10px;
    }

    time {
      margin-bottom: 30px;
    }

    @photoMinSize: 110px;
    .photo {
      text-align: center;
      float: left;
      vertical-align: top;
      min-width: @photoMinSize;
      margin-right: 40px;

      img {
        border-radius: 100%;
      }
    }

    .description {
      display: block;
      vertical-align: top;
      float: left;

    }

    @media (max-width: @secondBreakPoint) {
      .photo {
        min-height: 160px;
      }

      .description {
        float: none;

        width: 100%;
        position: relative;
        a {
          // float: right;
          position: absolute;
          top: 0;
          right: 10px;
        }
      }
    }

    @media (max-width: 540px) {
      .description a {
        position: static;
      }
    }

  }
}

.blog {
  background-color: @xebiaColor;
  padding-bottom: 50px;
  .centering {
    position: relative;
  }

  h2 {
    color: white;
    text-align: left;
    margin-left: 5%;
  }

  .col-wrapper {
    margin-bottom: 50px;
  }

  .rss {
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 40px;
    right: 10px;
    .transition(background-color 0.2s);
    background-color: lighten(black, 15%);
    &:hover {
      background-color: black;
    }
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;

    i {
      margin-left: 10px;
      font-size: 15px;
    }
  }

  h3, .description, .author, a {
    color: white;
    text-align: left;
  }

  h3 {
    border-bottom: none;
    font-size: @subSubTitleSize;
    margin-bottom: 0;
    min-height: 85px;
  }

  .author {
    font-size: @littleTextSize;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
    display: block;

    min-height: 35px;
  }

  .description {
    font-size: @standardTextSize;
    font-weight: 300;

    height: 220px;
    overflow: hidden;
    margin-bottom: 26px;

    line-height: 30px;

  }

  @media (max-width: @firstBreakPoint) {
    .description {
      height: 250px;
    }
  }
  @media (max-width: @secondBreakPoint) {

    h2 {
      margin-left: 10px;
    }

    h3 {
      max-width: none;
      min-height: 0;
    }

    .author {
      min-height: 0;
      margin-left: 10px;
    }

    .description {
      height: auto;
      min-height: 0;
      margin-bottom: 20px;
      margin-left: 10px;
    }
  }

  .read-more-wrapper {
    text-align: left;
    margin-left: 10px;
    a {

      font-weight: normal;

      .linkDecoration(white);
    }
  }

  .more-blog-wrapper {
    text-align: right;
    a {
      margin-right: 20px;
      padding-left: 20px;
    }
  }
}



.our-value {

    .valeur-img
    {
      width: 100%;
      max-width: 672px;
    }

    .valeur1
    {
      position: relative;
      bottom: 208px;
      right: 170px;
      color: white;
      padding: 10px 50px;
    }


    .valeur2
    {
    position: relative;
    bottom: 273px;
    right: 115px;
    color: #fff;
    padding: 10px 35px;
    padding-left: 80px;
    }


    .valeur3
    {
      position: relative;
      bottom: 262px;
      color: white;
      left: 115px;
      padding: 10px 50px;
    }


    .valeur4
    {
      position: relative;
  bottom: 210px;
  left: 130px;
  color: white;
  padding: 10px 80px;
    }

    @media (max-width: 690px) {

    .valeur-img
    {
      display:none;
    }

    .valeur1, .valeur2, .valeur3, .valeur4
    {
      bottom:0px;
      left:0px;
      color: white;
      padding: 10px 25px;
      background-color: #6a205f;
      display: inline-block;
      margin-bottom: 10px;
      width: 250px;
    }

    .valeur1
    {
      background: url(../../images/home/knowledge.png) no-repeat #6a205f;
      background-size: 18%;
      background-position: left center;
    }

    .valeur2
    {
      background: url(../../images/home/people.png) no-repeat #6a205f;
      background-size: 18%;
      background-position: left center;
    }

    .valeur3
    {
      background: url(../../images/home/customer.png) no-repeat #6a205f;
      background-size: 18%;
      background-position: left center;
    }

    .valeur4
    {
      background: url(../../images/home/qualite.png) no-repeat #6a205f;
      background-size: 18%;
      background-position: left center;
    }
  }
}




.xebia-universe {

  background-color: @alternativeBackgroundColor;
  height:550px;

  @media (max-width: @thirdBreakPoint) {
    height: 650px;
  }

  h3 {
    border-bottom: none;
    min-height: 0;
  }

  p {
    min-height: 80px;
    margin-bottom: 0;
    @media (max-width: @thirdBreakPoint) {
      min-height: 0;
      margin-bottom: 20px;
    }

  }

  .alliance_more{
    position:relative;
    top: 100px;

    @media (max-width: @firstBreakPoint) {
      top:70px;
    }

    @media (max-width: @secondBreakPoint) {
      top:10px;
    }

    @media (max-width: @thirdBreakPoint) {
      top:0px;
    }
  }



  a.alliance_more
  {
    color:#0062ad;
    font-weight:300;
  }



  a.alliance_more:hover {
      font-weight:400;
  }


  .alliance_more:after {
  content: '›';
  font-size: 160%;
  position: absolute;
  top:-5px;
  margin-left: 12px;
  }


  .bx-wrapper
  {
    max-width:100% !important;
  }



  .logo-wrapper {
    height: 160px;
    position: relative;

    img {
      margin-top: 0;
      position: relative;
    }

    .logoPosition(@height) {
      height: @height;
      top: ~"calc(50% - @{height}/2)";

      @media (max-width: @secondBreakPoint) {
        position: static;
        top: 0;

      }

      @media (max-width: @thirdBreakPoint) {
        height: @height;
      }
    }

    .thiga-logo {
      .logoPosition(110px)
    }

    .ux-logo {
      .logoPosition(110px)
    }

    .labs-logo {
      .logoPosition(70px);
      margin-top: 25px;
    }

    .akamis-logo
    {
      .logoPosition(100px);
      margin-top: 5px;
    }

    .cellenza-logo
    {
      .logoPosition(70px);
      margin-top: 25px;
    }

    .wescale-logo
    {
      .logoPosition(70px);
      margin-top: 20px;
    }
  }

  @media (max-width: @secondBreakPoint) {
    .col3 {
      text-align: center;
      margin-bottom: 30px;
    }

    p, h3 {
      text-align: center;
      max-width: none;
      min-height: 0;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-bottom: 10px;
    }

    .logo-wrapper {
      height: auto;
      text-align: center;
      min-height: 130px;

      @media (max-width: @thirdBreakPoint) {
        min-height: 0;
        margin-bottom: 30px;
      }
    }
  }

}
