h1 {
  text-align: left;
  padding-bottom: 30px;
}

.head-logo-wrapper {
  .gradient(@xebiaColor, darken(@xebiaColor, 10%));
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  img {

  }
}

.you-are {
  h2 {
    text-align: center;
  }
}

.our-missions {
  background-color: @xebiaColor;
  h2 {
    color: white;
    text-align: center;
  }
}