
.head-logo-wrapper {
  .gradient(@xebiaColor, darken(@xebiaColor, 10%));
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;

}

.our-missions {
  background-color: @xebiaColor;
  h2 {
    color: white;
    text-align: center;
  }

  .missions-desc {
    text-align: center;
    .mission {
      cursor: pointer;
      width: 240px;
      display: inline-block;
      vertical-align: top;
      p {
        text-align: center;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

.our-profils {

  .profils-bubble {
    position: relative;
    background: url("../../images/services/agile/passion-bubbles.png") no-repeat scroll 224px 30px transparent;
    height: 570px;

    span {
      color: white;
      position: absolute;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }

    .coach-agile {
      width: 110px;
      font-size: 35px;
      left: 610px;
      top: 95px;
    }

    .product-owner {
      width: 130px;
      font-size: 33px;
      left: 653px;
      top: 366px;
    }

    .scrum-master {
      width: 112px;
      font-size: 27px;
      left: 229px;
      top: 261px;
    }

    .devops {
      width: 112px;
      font-size: 27px;
      left: 399px;
      top: 165px;
    }

  }
}

.lightbox {
  display: none;
  h3 {
    color: @xebiaColor;
    font-size: @mainTitleSize;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  li {
    margin-bottom: 15px;
    margin-left: 5px;
    &:before {
      content: '- ';
      margin-right: 10px;

    }
  }
  ul {
    margin-bottom: 35px;
  }

  h4 {
    color: @xebiaColor;
    font-size: @defaultTitleSize;
    font-weight: 300;
    margin-bottom: 10px;

    &.tagline-missions {
      color: @contrastColor;
    }
  }

}