h1 {
  text-align: left;
  padding-bottom: 30px;
}
.you-are {
  h2 {
    text-align: center;
  }
}
.our-missions {
  background-color: @xebiaColor;
  h2 {
    color: white;
    text-align: center;
  }
}