.mission img {
  height: 100px;
}

.mission p {
  margin-top: 20px;
}

.client-row3 {
  max-width: 720px;
  margin: 0 auto;
}

.client-row1 {
  width: 200px;
  margin: 0 auto;
}

.purple-highlight {
  color: #6C1D5F;
  font-weight: 400;
}

.lightbox li {
  line-height: 20px;
}

.application-logo {
  float: left;
  height: 50px;
  width: 50px;
}

.application-name {
  float: left;
  width: 50%;
  padding-top: 5px;
  padding-left: 20px;
  overflow: hidden;
}

.application-container {
  height: 75px;
}

p {
  margin-bottom: 10px;
}

.client-logo {
  background-image: url('images/services/mobile/clients.png');

  &.client-sephora {
    background-position: 20px center;
  }

  &.client-voyages-sncf_com {
    background-position: -180px center;
  }

  &.client-pmu {
    background-position: -400px center;
  }

  &.client-le-figaro {
    background-position: -600px center;
  }

  &.client-givaudan {
    background-position: -780px center;
  }

  &.client-la-centrale_fr {
    background-position: -960px center;
  }

  &.client-orange {
    background-position: -1160px center;
  }
}