.mission img {
  height: 100px;
}

.mission p {
  margin-top: 20px;
}

.client-list-wrapper {
  max-width: 75%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  background-color: #F0F0F0;
}

.client-list-wrapper img {
  float: left;
  padding: 0 20px;
}

.client-row3 {
  max-width: 720px;
  margin: 0 auto;
}

.client-row1 {
  width: 200px;
  margin: 0 auto;
}

.purple-highlight {
  color: #6C1D5F;
  font-weight: 400;
}

.lightbox li {
  line-height: 30px;
}

.application-logo {
  float: left;
  height: 50px;
  width: 50px;
}

.application-name {
  float: left;
  width: 50%;
  padding-top: 5px;
  padding-left: 20px;
  overflow: hidden;
}

.application-container {
  height: 75px;
}