.form-test
{
  padding-top:40px;
}


.radio
{
  display: inline-block;

}

input[type="radio"] {
  display:none;
}

input[type="radio"] +label {
font-size: 16px;
color:black;
}

input[type="radio"]:checked +label {
color: #06a99c;
}


input[type="radio"] + label span {
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:#f9f9f9;
  border:1px solid #06a99c;
  display:inline-block;
  vertical-align:middle;
  margin-right: 10px;

}

input[type="radio"]:checked + label span {

  background-color: #06a99c;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span,
input[type="radio"]:checked +label
 {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

textarea
{
  outline:none;
  border:1px solid #06a99c;
  resize:none;
  border-radius:4px;
  padding:5px;

}

.button_valid
{
  text-align:center;
}


.font-programming
{
  font-family:Courrier;
  font-style:italic;
}
