
.img_test_career
{
  width: 100px;
  height:100px;
}

input[type="radio"] {
  display:none;
}

.radio
{
  display: inline-block;
border: 1px solid silver;
padding: 10px;

}

.versus
{
  font-size:24px;
  color:silver;
  display:inline-block;
  font-weight:400;
  padding: 0 10px;
}
