<header>
    <div class="header-content">
        <div class="centering">

            <div class="mobile-menu-button">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>

            <a href="index.html" title="home">
                <img src="images/header/logo-xebia.png" alt="Logo Xebia France"
                     title="Xebia France" class="logo-header"/>
            </a>

            <div class="contact-bloc">
                <div class="bottom-part">
                    <a href="http://blog.xebia.fr">Blog</a>
                    <a href="mailto:info@xebia.fr">Contact</a>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="valeurs.html">Nos Valeurs</a></li>
                </ul>
                <div class="indicator"></div>
            </nav>

        </div>
    </div>
</header>