<header>
    <div class="header-content">
        <div class="centering">

            <div class="mobile-menu-button">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>

            <a href="index.html" title="home" class="link-home">
                <img src="images/header/logo-xebia.svg" alt="Logo Xebia France"
                     title="Xebia France" class="logo-header"/>
            </a>

            <div class="contact-bloc">
                <div class="left-part">

                    <a href="https://plus.google.com/100396468532572979348/posts" class="socicon socicon-google"
                       target="_blank">
                    </a>

                    <a href="https://twitter.com/XebiaFr" class="socicon socicon-twitter" target="_blank">
                    </a>

                    <a href="http://www.linkedin.com/company/xebia-france" class="socicon socicon-linkedin"
                       target="_blank">
                    </a>
                </div>
                <div class="right-part">
                    <a href="http://blog.xebia.fr">Blog</a>
                    <a href="mailto:info@xebia.fr">Contact</a>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="clients.html">Nos Clients</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="knowledge.html">Connaissances</a></li>
                    <li><a href="http://studio.xebia.fr">Studio</a></li>
                    <li><a href="http://training.xebia.fr">Formations</a></li>
                    <li><a href="aboutus.html">À propos</a></li>
                </ul>
                <div class="indicator">
                    <div class="inner-indicator"></div>
                </div>
            </nav>

        </div>
    </div>
</header>