@import "colors.less";

/* Global */
body {
  margin: 0px;
  min-width: 1100px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

h2 {
  color: @violet;
  font: 65px 'UbuntuLight', Arial, sans-serif;
  text-transform: uppercase;
}

.content {
  font: 18px 'UbuntuMedium', Arial, sans-serif;
  width: 100%;
  position: relative;
}

.nav {
  width: 100%;
  height: 35px;
  top: 0px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 20;
  background-color: white;
  border-bottom: 5px solid rgb(190, 186, 184);
  -webkit-box-shadow: 0px 0px 7px 0px #999;
  box-shadow: 0px 0px 7px 0px #999;
  .nav-content {
    width: 1000px;
    height: 30px;
    margin: auto;
    position: relative;
    a {
      font: 15px 'UbuntuMedium', Arial, sans-serif;
      color: @violet;
      text-transform: uppercase;
      margin: 0px 15px;
      line-height: 35px;
    }
    .pointer {

      //génère un triangle css
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid @greyline;

      position: absolute;
      top: 28px;
      left: 100px;

    }
  }
}

.universe-content, .contact-content, .work-content, .tagline, .careers-content {
  width: 1000px;
  margin: auto;
  position: relative;
}

footer {
  background-color: #f1f0ee;
  height: 180px;

  .tagline {
    width: 462px;
    margin: auto;
    height: 170px;
    background: url('../images/footer-alliance.png') 0 20px no-repeat #f1f0ee;
  }

  .tagline-xebia {
    width: 462px;
    margin: auto;
    height: 111px;
    background: url('../images/footer-logo-xebia.png') 0 20px no-repeat #f1f0ee;
  }

  .tagline-alliance {
    width: 450px;
    margin: auto;
    height: 47px;
    border-top: 1px solid #bebab8;

    p {
      text-transform: uppercase;
      line-height: 30px;
      text-align: justify;
      float: left;
      margin-left: 7px;
      margin-top: 16px;
      font: 13px 'UbuntuRegular', Arial, sans-serif;
      letter-spacing: 1px;
    }

    a {
      color: #6d626b;

      &:hover {
        text-decoration: underline;
      }

    }

    .alliance-wrapper:after {
      clear: both;
      content: '';
      display: block;
    }
    .mentions-wrapper {
      text-align: center;
      .mentions {
        margin-top: 30px;
        cursor: pointer;
        font: 12px 'UbuntuMedium', Arial, sans-serif;
        color: @violet;
        text-transform: uppercase;
      }
    }
  }

  .logo-alliance {
    margin-top: 10px;
    float: left;
  }
}

.debug {
  border: 1px solid lime;
}

