/* Colors */
/* Passion http://essentials.xebia.com/make-it-work-right-fast */
.passion {
  background: url('../images/passion-bg.jpg') center top no-repeat;
  margin-top: 10px;
  height: 720px;
  width: 100%;
  position: relative;
}
.passion .passion-content {
  position: relative;
  width: 1000px;
  height: 720px;
  margin: auto;
}
.passion .passion-content h2 {
  position: absolute;
  top: 30px;
  left: 0px;
  margin: 0px;
}
.passion .passion-content p {
  position: absolute;
  top: 100px;
  left: 0px;
  line-height: 22px;
  /* TODO grr doesnt work */

  color: #6d626b;
  font: 16px 'UbuntuLightItalic', Arial, sans-serif;
  font-weight: 600;
}
.passion .passion-content .passion-bubbles {
  background: url('../images/passion-bubbles.png') 224px 95px no-repeat;
  height: 570px;
}
.passion .passion-content a {
  font-family: 'UbuntuLightItalic', Arial, sans-serif;
  color: white;
  position: absolute;
  font-weight: 600;
}
.passion .passion-content .software {
  top: 180px;
  right: 273px;
  font-size: 30px;
}
.passion .passion-content .craftsmanship {
  top: 220px;
  right: 260px;
  font-size: 23px;
}
.passion .passion-content .bigdata {
  top: 245px;
  right: 497px;
  font-size: 25px;
}
.passion .passion-content .cloud {
  top: 249px;
  right: 116px;
  font-size: 30px;
}
.passion .passion-content .agile {
  top: 348px;
  right: 681px;
  font-size: 30px;
}
.passion .passion-content .devops {
  top: 388px;
  right: 391px;
  font-size: 23px;
}
.passion .passion-content .java {
  top: 363px;
  right: 68px;
  font-size: 29px;
}
.passion .passion-content .web {
  top: 478px;
  right: 503px;
  font-size: 30px;
}
.passion .passion-content .mobility {
  top: 464px;
  right: 225px;
  font-size: 30px;
}
.passion .passion-boids {
  width: 675px;
  height: 346px;
  position: absolute;
  bottom: -100px;
  z-index: 10;
  left: 0px;
  background: url('../images/passion-boids.png') no-repeat;
}
