@import "colors.less";

/* Universe http://essentials.xebia.com/one-feature-at-a-time */
.universe {
  padding-bottom: 70px;
  h2 {
    margin-bottom: 0px;
  }
  p {
    font: 15px 'UbuntuLightItalic', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 50px;
    line-height: 22px;
  }
  .bubble {
    background-color: @grey;
    width: 220px;
    height: 220px;
    border-radius: 110px;
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    p {
      position: absolute;
      top: 105px;
      left: 30px;
      width: 160px;
      text-align: center;
      font: 11px 'UbuntuLight', Arial, sans-serif;
      font-weight: normal;
    }
  }

  .upper-line {

    div.span3 {
      float: left;
      width: 33%;

      > div {
        width: 310px;
        height: 400px;
        text-align: center;
        margin:auto;
        position:relative;
        padding:1px;

        .title {
          margin-top: 152px;
          height: 40px;
          font: 25px 'UbuntuRegular', Arial, sans-serif;
          line-height: 40px;
          color: @violet;
          text-transform: uppercase;
        }

        .desc {
          margin-top: 20px;
          margin-left: 55px;
          margin-right: 55px;
          font: 13px 'UbuntuRegular', Arial, sans-serif;
          color: @grey;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .studio {
    background: url('../images/universe/universe_xl_studio.png') no-repeat;
  }
  .training {
    background: url('../images/universe/universe_xl_training.png') no-repeat;
  }
  .labs {
    background: url('../images/universe/universe_xl_labs.png') no-repeat;
  }

  /*
  .studio {
    background: url('../images/universe-studio-logo.jpg') 70px 28px no-repeat rgb(241, 240, 238);
  }
  .training {
    background: url('../images/universe-training-logo.png') 50px 15px no-repeat rgb(241, 240, 238);
  }
  .labs {
    background: url('../images/universe-labs-logo.png') 40px 15px no-repeat rgb(241, 240, 238);
  }
  .blog {
    background: url('../images/universe-blog-logo.png') 42px 15px no-repeat rgb(241, 240, 238);
  }
  .video {
    background: url('../images/universe-video-logo.png') 40px 20px no-repeat rgb(241, 240, 238);
  }
  .code {
    background: url('../images/universe-code-logo.png') 45px 20px no-repeat rgb(241, 240, 238);
  }
  .events {
    background: url('../images/universe-events-logo.png') 45px 15px no-repeat rgb(241, 240, 238);
  }
  .agile {
    background: url('../images/universe-agile-logo.png') 45px 15px no-repeat rgb(241, 240, 238);
  }
  .essentials {
    background: url('../images/universe-essentials-logo.png') 75px 30px no-repeat rgb(241, 240, 238);
  }
  */
  .first {
    margin-left: 0px;
  }
  .last {
    margin-right: 0px;
  }
  .bubble-link {
    position: absolute;
    top: 170px;
    right: 0px;
    background-color: @violet;
    text-transform: uppercase;
    font: 15px 'UbuntuLight', Arial, sans-serif;
    padding: 5px 10px;
    display: inline-block;
    color: white;
  }
}